.card-img-top {
    width: 100%;
    height: 12rem;
    border-radius: 12px;
    object-fit: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.card-body {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    line-height: 0;
    text-decoration: none;
    align-items: center;
}

.card-text {
    color: gray;
}

.flex-horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}